*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.header {
  background-image: url(../../img/ID625918.png);
  height: 88vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative; }
  .header__box {
    top: 10%;
    width: 60%;
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    border-top: 4rem solid #239DEA;
    border-radius: 3rem; }
  .header__item {
    width: 25%;
    padding: 2rem;
    background-color: rgba(238, 238, 238, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #239DEA; }
  .header__photo {
    height: 6rem;
    width: 6rem; }
  .header__text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #239DEA;
    padding-top: 2.4rem; }
  .header__extension-fixed {
    background-color: #fff;
    width: 11rem;
    height: 11rem;
    clip-path: circle(50%);
    position: absolute;
    top: 50%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #239DEA;
    border-radius: 50%;
    shape-outside: circle(50%);
    position: fixed;
    z-index: 1000; }
  .header__extension-photo {
    height: 6rem;
    width: 6rem; }
  .header__extension-text {
    font-size: 1.6rem;
    color: #239DEA;
    margin-top: -1rem; }
  .header__coverstion-fixed {
    background-color: #fff;
    width: 11rem;
    height: 11rem;
    clip-path: circle(50%);
    position: absolute;
    top: 50%;
    left: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #239DEA;
    border-radius: 50%;
    shape-outside: circle(50%);
    position: fixed;
    z-index: 1000; }
  .header__coverstion-photo {
    height: 5rem;
    width: 5rem; }
  .header__coverstion-text {
    font-size: 1.6rem;
    color: #239DEA;
    margin-top: -0.4rem; }

.navigation {
  height: 7rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1rem solid #eee;
  color: #999; }
  .navigation__logo-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end; }
  .navigation__logo {
    height: 5.5rem;
    width: 5.5rem; }
  .navigation__bimsa {
    font-size: 3rem;
    font-weight: 700;
    color: #239DEA;
    padding-right: 1rem; }
  .navigation__nav {
    flex: 0 0 45%; }
  .navigation__list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
  .navigation__item {
    list-style: none; }
  .navigation__link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400; }
  .navigation__account {
    display: flex;
    flex-direction: row-reverse;
    align-items: center; }
  .navigation__user-photo {
    height: 5.5rem;
    width: 5.5rem; }
  .navigation__text {
    font-size: 1.3rem;
    font-weight: 400; }

.section {
  margin-top: -6.2rem;
  background: #ffffff;
  height: 88VH;
  clip-path: url(#wave1); }
