@mixin  fixed_circle($left) {   
    background-color: #fff;
    width: 11rem;
    height: 11rem;
    clip-path: circle(50%);
    position: absolute;
    top: 50%;
    left: $left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed $color-primary;
    border-radius: 50%;
    shape-outside: circle(50%);
    position: fixed;
    z-index: 1000;
    
}