.section{
    position: relative;
    background: $color-grey-light-1;
    height: 255VH;

    
    @include respond(tab-land){ height: 205vh; }

    @include respond(tab-port){ height: 190vh; }

    @include respond(smallest){ height: 175vh; }

    @include respond(phone){  
        height: 225vh;
        background-color: #ffffff;
    }

    &__wave-background{
        height: 3rem;
        width: 100%;
        background-image: url(../../img/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -2.8rem;
        position: absolute;


        @include respond(phone){ display: none; }
    }

    &__center-elements{  
        width: 100%;   
        position: absolute;
        margin-top: -11rem;
        
        & :not(:last-child){
            margin-bottom: 2rem;
        }


        @include respond(tab-land){ margin-top: -15rem; }

        @include respond(phone){ margin-top: 0; }
        
    }
    &__arrow{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border:  2px solid $color-yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s;
        animation: increaseOpacity .9s ease-in-out 5.5s;
        animation-fill-mode: backwards;

        &--top{
            margin-top: -3.5rem;
            background-color: $color-grey-light-2;
            
        }

        &--bottom{
            @include respond(phone){ display: none; }
        }
    }

    &__arrow-photo {
        width: 1.8rem;
        height: 1.2rem;
    }

    &__main{
        width: 65%;
        height: 245vh;
        background-color: $color-white;
        border-radius: 7rem;
        box-shadow: 1rem 1rem 4rem rgba($color: #000000, $alpha: .3);
        animation: moveToTop .9s ease-in-out 5s;
        animation-fill-mode: backwards;

        @include respond(tab-land){ height: 200vh; }

        @include respond(tab-port){ height: 185vh; }

        @include respond(smallest){ height: 170vh; }
 
        @include respond(phone){  
            width: 90%;
            border-radius: 0%;
            box-shadow: none;
            height: 220vh;
        }
    }
    
}