@keyframes increaseOpacity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes moveToTopRight{
    0%{
        position: absolute;
        top: 30%;
        right: 50%;
        transform: translate(-50%, -30%);
        opacity: 1;
    }
    10%{
        height: 12rem;
        width: 12rem;
        opacity: 1;
    }
    50%{
        height: 9rem;
        width: 9rem;
        opacity: 1;
    }
    100%{
        position: absolute;
        top: 2.5%;
        left: 91%;
        height: 5.5rem;
        width: 5.5rem;
        opacity: 1;
    }
}

@keyframes change-opacity{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveToBottom{
    0%{
        position: relative;
        top: -25%;
        opacity: 0;
    }

    90%{
        position: relative;
        top: 3%;
        opacity: 1;
    }

    100%{
        position: relative;
        top: 0;
        opacity: 1;
    }
}

@keyframes moveToTop{
    0%{
        position: absolute;
        top: 10rem;
        opacity: 0;
    }
    

    100%{
        position: absolute;
        top: 90%;
        opacity: 1;
    }
}